<div class="row">
  <div class="col-lg-3">
    <%= form_tag admin_orders_path, method: :get, class: "t-header-search-box" do %>
      <div class="input-group">
        <%= select_tag :status,
          options_for_select(Order.statuses.keys.to_a) %>
        <%= button_tag class: "btn btn-primary" do %>
          <i class="fa-solid fa-circle-arrow-right"></i>
        <% end %>
      </div>
    <% end %>
  </div>

  <div class="d-flex justify-content-center">
    <%= form_tag admin_orders_path, method: :get, class: "t-header-search-box" do %>
      <div class="input-group">
        <%= date_field :date, :start %>
        -->
        <%= date_field :date, :end %>
        <%= button_tag class: "btn btn-primary" do %>
          <i class="fa-solid fa-circle-arrow-right"></i>
        <% end %>
      </div>
    <% end %>
  </div>
</div>
<div class="col-lg-20">
  <div class="grid">
    <h5 class="grid-header">
      <%= link_to t("all_order"), admin_orders_path %>
    </h5>
    <div class="item-wrapper">
      <div class="table-responsive">
        <table class="table">
          <thead>
            <tr>
              <th><%= t "order_id" %></th>
              <th><%= t "customer_name" %></th>
              <th><%= t "product_in_order" %></th>
              <th><%= t "order_address" %></th>
              <th><%= t "order_date" %></th>
              <th><%= t "status" %></th>
              <th><%= t "total" %></th>
              <th><%= t "action" %></th>
              <th></th>
            </tr>
          </thead>
          <tbody>
            <%= render @order %>
          </tbody>
        </table>
      </div>
    </div>
    <div class="row">
      <%== pagy_bootstrap_nav(@pagy) %>
    </div>
  </div>
</div>
