<%= form_for [:admin, @product] do |f| %>
  <%= render "shared/error_messages", object: f.object %>
  <div class="row mb-3">
    <div class="col-md-8 mx-auto">
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :name %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.text_field :name, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :description %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.text_area :description, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :status %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.select :status, Product.statuses.keys.to_a, {}, {class: "custom-select"} %>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :price %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.number_field :price, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :unit %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.text_field :unit, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :quantity %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.number_field :quantity, class: "form-control" %>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :category_id %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.collection_select :category_id, load_category_select, :id, :name, {}, {class: "custom-select"} %>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
          <%= f.label :image %>
        </div>
        <div class="col-md-9 showcase_content_area">
          <div class="custom-file">
            <%= f.file_field :image %>
          </div>
        </div>
      </div>
      <div class="form-group row showcase_row_area">
        <div class="col-md-3 showcase_text_area">
        </div>
        <div class="col-md-9 showcase_content_area">
          <%= f.submit yield(:button_text), class: "btn btn-sm btn-primary" %>
        </div>
      </div>
    </div>
  </div>
<% end %>
